img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    margin-left: 1.66%;
    font-family: Raleway;
    font-weight: 800;
    border-bottom: 2px solid #f1f1f1;
    padding: 11px;
}




